---
layout: default
title: Sorted by Sport.
---
<p style='text-align:center;'> Posts listed by sport/category for your convenience.</p>

{% capture tags %}
                  {% for tag in site.tags %}
                    {{ tag[0] }}#{{ tag[1].size}}
                  {% endfor %}
                {% endcapture %}
                {% assign sortedtags = tags | split:' ' | sort %}
                {% for tag in sortedtags %}
                    {% assign tagitems = tag | split: '#' %}
                    <li><a href="/tags/#{{ tagitems[0] }}">{{ tagitems[0] }} ({{ tagitems[1] }})</a></li>
                {% endfor %}