---
layout: default
---
<article class="post">
  
  	<header>
  	
  		<h1>{{ page.title }}</h1>
  	
  		<p><small><span class="blog_post_date">{{ page.date | date: "%b %d , %Y" }}</span> | tags: 
        	<span class="blog_post_categories">{% for tag in page.tags %}{% include tags.html %}{% endfor %}</span>
      	</small></p>
    
    </header>
  	
  	

  <div class="entry">
    {{ content }}
  </div>

  <p><i>The views expressed in this article do not necessarily represent the views of The Fundamental Fan.</i></p>

  {% include disqus.html %}
</article>
